.footer Информация для абонентов - тел. 8 800 500-25-43 (бесплатно в домашнем регионе)
    br
    a( href="#", target="_blank" ) Правила подписки поставщика услуг
    | &nbsp; | &nbsp;
    a( href="http://wap.megafonpro.ru/moi_podpiski", target="_blank" ) Личный кабинет
